# zipファイルは対象外
*.zip

# 以下のフォルダは追記対象外
untrack

# nohup.out
nohup.out

# 以下のファイルは対象外
*.hdf5
*.npy
*.png

# Pythonのキャッシュファイル
__pychache__
*.pyc

# fine tuningのチェックポイント等は対象外
finetune_result*
result_2023*

# オープンハウス用のコード
Openhouse_*